body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.body-wrapper {
	width: 100%;
	height: 100%;
}
.img-wrapper {
	width: 300px;
	height: 300px;
	margin: 20px auto;
	box-shadow: 2px 2px 5px #767672;
}
.img-slice {
	width: 150px;
	height: 150px;
	font-size: 0;
	float: left;
	display: inline-block;
	vertical-align: middle;
}
.body-wrapper img {
	width: 150px;
	height: 150px;
	vertical-align: top;
}
